{% extends 'base_bs5.html' %}

{% block main %}

    <div class="container">

        <h1>{{ titulo }}</h1>
        <p>
            <a href=" {% url 'favoritos:index' %}" class="btn btn-outline-primary">Atras</a>
        </p>
    
        <form method='post' class="form-control">
            {% csrf_token %}
    
            {{ form.as_p }}
    
    
            {% comment %} {% comment %} <label>Nombre</label>
            <input type='text' name='nombre'></input>
    
            <label>url</label>
            <input type='text' name='url'></input> {% endcomment %}
    
            <input type='submit' class="btn btn-outline-primary"></input> 
        </form>
    </div>


{% endblock main %}