<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>

<body>
    
    <h1>Lista Favoritos</h1>
    <p>
        <a href="{% url 'favoritos:crear' %}">Nuevo</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>URL</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for favorito in favoritos_lista %}
            <tr>
                <td>{{ favorito.nombre }}</td>
                <td>{{ favorito.url }}</td>
                <td>
                    <a href="{% url 'favoritos:borrar' favorito.pk %}">Borrar</a>
                    <br>
                    <a href="{% url 'favoritos:detalle' favorito.pk %}">Detalle</a>
                    <br>
                    <a href="{% url 'favoritos:actualizar' favorito.pk %}">Actualizar</a>

                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
   

</body>

</html>